* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito, sans-serif;
    background-color: #405060;
    color: rgba(66, 66, 66, 0.94);
}

html,
body,
#root {
    height: 100%;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.94);
}
